.search-bar {
    width: 100%;
    display: flex;
    padding: 0 5%;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
}

input:focus {
    outline: none;
}

button {
    background-color: #333;
    color: white;
    font-size: 18px;
    border: none;
    padding: 0 20px;
    border-radius: 0 8px 8px 0;
}